<div class="search-display">
    <div></div>
    <span class="example-spacer"></span>
    <mat-form-field appearance="outline" class="search-box">
        <input matInput placeholder="Search" style="padding: 0px !important;" (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<div class="images">

    <div *ngFor="let data of allProduct; index as i" class="display">
        <div style="max-height: 300px;">
            <div style="  margin-left: 10px; width: 250px;
                    height: 230px; margin-top: 10px;">
                <div class="hover" ng-hover>
                    <img [src]="data.img_source" class="image" (click)="productDescription(data.id)">
                    <p class="description">

                        {{data.desc}}

                    </p>
                    <button mat-button (click)="like(data.id, data.liked)" *ngIf="!data.liked">LIKE
                    </button>
                    <button mat-button (click)="like(data.id, data.liked)" *ngIf="data.liked"
                        [ngClass]="{'like': data.liked}"><mat-icon style="color: blue;">thumb_up</mat-icon>
                    </button>
                    <button mat-button>SHARE</button>

                    <!-- </mat-card-actions> -->
                </div>
            </div>
        </div>
    </div>
</div>