&nbsp;
<div style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-icon>dashboard</mat-icon>
        <h3 style="margin-left: 10px; cursor: pointer;">Dashboard</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center; cursor: pointer;" (click)="productList()">
        <mat-icon>dashboard</mat-icon>
        <h3 style="margin-left: 10px;">Products</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-icon>dashboard</mat-icon>
        <h3 style="margin-left: 10px;">Orders</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-icon>dashboard</mat-icon>
        <h3 style="margin-left: 10px;">Customers</h3>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-icon>dashboard</mat-icon>
        <h3 style="margin-left: 10px;">Contact Details</h3>
    </div>

</div>